@using MobileConference.Enums
@using MobileConference.Helper
@model MobileConference.Models.MaterialModel

<script> ClearImageArea();</script>
<div class="container_12">
    <div class="grid_9 alpha">
        <div class="topContainer center">
            @using (Html.BeginForm("ChangeMaterialAvatar", "Admin", FormMethod.Post, new {@class = "withAjax"}))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="materialId" value ="@Model.Id"/>
                 @Html.LoaderBlock("picture",Html.AvatarFileNameForMaterial(Model.Id), StandardRatioType.IdeaRatio,
                   Url.Action("ChangeMaterialAvatar",new {materialId = Model.Id}))
            }
        </div>
    </div>
    <div class="grid_3 omega">
        @Html.PreviewBlock("picture",StandardRatioType.IdeaRatio)
    </div>
</div>