@using MobileConference.Helper
@model string
@{
    ViewBag.Title = "Продолжение регистрации";
}

@Html.FloatTitle("Продолжение регистрации")
<div class="container_12">
    <p>
        Регистрация почти завершена.
        <br/>
        Вам было отправлено письмо с указанием дальнейших действий по завершению регистрации.
        Пожалуйста проверьте вашу электронную почту @Model
        <br/>
        Вы также можете 
        @Html.ActionLink("повторно отправить письмо","SendConfirmationMessage","Account", new{email = Model}, null)
        <br/>
        Если вы ошиблись при вводе почты, вы можете 
        @Html.ActionLink("изменить ее","ChangeEmailAfterRegistration","Account")
    </p>
    
</div>
