@{
    ViewBag.Title = "Ошибка";
}

<div class="container_12">
    <p>
        Произошла неизвестная ошибка, мы уже принимаем меры по ее устранению.
    </p>
    <p>
        Вы можете помочь нам, написав письмо администратору, указав причины возникновения ошибки.
        @Html.ActionLink("Перейти на страницу отправки письма.","Contact","Home")
    </p>
</div>
