@using MobileConference.Helper
@{
    ViewBag.Title = "Правила конференции";
}

@Html.FloatTitle("Правила конференции")

<div id="about" class="container_12">
    <div class="grid_9 alpha omega">
        <p>YAPPi Days – крупнейшее в Ярославле и Северо-Западе России обучающее мероприятие/интенсив/хакатон,
            в ходе которого все желающие будут учиться и разрабатывать мобильные приложения под присмотром ведущих экспертов.
        </p>
        <p>
            В рамках хакатона мы представим несколько инструментов для разработки, проведем лекции о программировании, дизайне и маркетинге мобильных приложений от лучших российских и мировых специалистов.
        </p>
        <p>
            Цель каждой команды--создать законченное мобильное приложение  за месяц.
        </p>
        <p>
            Участниками могут стать: студенты, разработчики мобильных приложений, дизайнеры, менеджеры проектов, маркетологи.
        </p>
        <p>
            Подробности в <a href='http://vk.com/yappiDays' target="_blank">группе ВКонтакте</a>
        </p>
    </div>
    <div class="grid_3 omega">
        <div class="topContainer">
            <img width="210" alt="Dev-Stuff" src="~/Content/img/dev-stuff.png" class="borderBlock">        
        </div>
    </div>

</div>
<div class="empty_100"></div>
