@{
    ViewBag.Title = "Неизвестная страница";
}

<div class="container_12">
    <p>
        Вы перешли на страницу, которая не существует или у вас к ней нет доступа
    </p>
    <p>
        @Html.ActionLink("Перейти на домашнюю страницу","Index","Home")
    </p>
</div>