@model List<MobileConference.Models.CompanyModel>
<div class="titleFloat fullBlock">
    <div class="grid_8 titleName alpha omega">
        <span>Наши спонсоры</span>
    </div>
</div>
<div class="companyBlock">
    @Html.Partial("CompanyList",Model)
</div>
