@using MobileConference.Helper
@{
    ViewBag.Title = "Успешная регистрация";
}

@Html.FloatTitle("Вы зарегистрированы")
<div class="container_12">
    <p>
        Регистрация завершена успешно. Вы можете зайти на сайт.
    </p>
</div>