@using MobileConference.Helper
@{
    ViewBag.Title = "Не удалось войти";
}

@Html.FloatTitle("Неудачный вход")
<div class="container_12">
    <p>Не получилось зайти через выранный вами сервис</p>
    <p>@Html.ActionLink("Перейти на домашнюю страницу","Index","Home")</p>

</div>
