@using MobileConference.Helper
@{
    ViewBag.Title = "Письмо восстановления";
}
@Html.FloatTitle("Письмо")
<div class="container_12">
    <p>Вам отправлено письмо с кодом восстановления по адресу @ViewBag.email. Пожалуйста проверьте вашу электронную почту</p>
</div>
        